@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    background-color: #333333f2;
    color: #e8e7e7;
    font-family: 'Poppins', sans-serif;
}
.form {
    background-color: #87878750;
    backdrop-filter: blur(1.7rem);
    position: relative;
    z-index: 10;
    padding: 3rem;
}


.figure {      
    position: absolute;
    z-index: 5;
    animation: flotante 60s infinite ease-in-out;
}

.figure2 {      
    position: absolute;
    z-index: 5;
    animation: flotante2 60s infinite ease-in-out;
}

.card {
    background-color: #87878750;
    backdrop-filter: blur(1.3rem);
}

@keyframes flotante {
    0% {
        transform: translateX(0) translateX(0);
    }    
    25% {
        transform: translateX(500px) translateY(-300px);
    }
    50% {
        transform: translateX(500px) translateY(100px);
    }    
    75% {
        transform: translateX(100px) translateY(-200px);
    }
    100% {
        transform: translateX(0) translateY(0);
    }    
}
@keyframes flotante2 {
    0% {
        transform: translateX(540px) translateY(0);
    }    
    25% {
        transform: translateX(-100px) translateY(200px);
    }
    50% {
        transform: translateX(-300px) translateY(50px);
    }    
    75% {
        transform: translateX(100px) translateY(-200px);
    }
    100% {
        transform: translateX(540px) translateY(0);
    }    
}